/**/*

!/.gitignore

!/CMakeLists.txt
!/samconsolemain.cpp
!/samconsolemain.hpp
!/mainwindow.cpp
!/mainwindow.hpp
!/samconsolesplash.hpp
!/samconsolesplash.cpp
!/sam-console.pro

!/README.md
!/configure_build.sh
!/icon.png
!/icon.svg
!/logo.png
!/logo.svg

!/.github/
!/.github/CODEOWNERS

!/.vscode/
!/.vscode/settings.json

!/sam-stub-engine/
!/sam-stub-engine/**/*

!/page-switcher-bar/
!/page-switcher-bar/pageswitcherbar.hpp
!/page-switcher-bar/pageswitcherbar.cpp

!/home-page/
!/home-page/homepage.hpp
!/home-page/homepage.cpp
!/home-page/scan-areas-controller/
!/home-page/scan-areas-controller/**/*
!/home-page/status-builtin-terminal/
!/home-page/status-builtin-terminal/**/*
!/home-page/control-bar/
!/home-page/control-bar/controlbar.hpp
!/home-page/control-bar/controlbar.cpp
!/home-page/control-bar/pausebutton.hpp
!/home-page/control-bar/pausebutton.cpp
!/home-page/control-bar/scanbutton.hpp
!/home-page/control-bar/scanbutton.cpp
!/home-page/control-bar/stopbutton.hpp
!/home-page/control-bar/stopbutton.cpp
!/home-page/control-bar/scanareascontrollerbutton.hpp
!/home-page/control-bar/scanareascontrollerbutton.cpp
!/home-page/results-stream-viewer/
!/home-page/results-stream-viewer/resultsstreamviewer.hpp
!/home-page/results-stream-viewer/resultsstreamviewer.cpp

!/FIM-page/
!/FIM-page/fimpage.hpp
!/FIM-page/fimpage.cpp

!/resources/
!/resources/asu_logo.png
!/resources/asu_eng_logo.png
!/resources/platforms/
!/resources/platforms/windows/
!/resources/platforms/windows/favicon.ico

!/tests/
!/tests/**/*
